/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

hide {
  display: none;
}

i:hover, .lightit:hover {
  filter: brightness(2.5);
  transition: all 0.2s ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
}

#map:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
}

#blogo:hover {
     filter: brightness(2.5);
     transition: all 0.2s ease-in-out;
     transition-property: all;
     transition-duration: 0.2s;
     transition-timing-function: ease-in-out;
     transition-delay: 0s;
     cursor: pointer;
}

.navbar-inverse {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0,0,0,0.7);
  border: 0;
  font-size: large;
  box-shadow: none;
  z-index: 999;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background .5s ease-in-out, opacity .5s ease;
  -moz-transition: background .5s ease-in-out, opacity .5s ease;
  transition: background .5s ease-in-out, opacity .5s ease;
}

footer > .row {
  width: 100% !important;
}

.ar1 {
  font-family: Changa !important;
}
#ar1 {
  font-family: Changa;
}
.ar2 {
  font-family: Amiri !important;
}
#ar2 {
  font-family: Amiri;
}

a:hover {
  text-decoration: none;
}
.modal-body > center > img {
  height: 60%;
}

.shb {
  -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
}
