<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
   
{% extends "base.html" %}
{% block title %} FQM - {{ ptitle  }} {% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field %}
<div class="col-md-12">
    <form method="POST" enctype="multipart/form-data" id="fm">
	<div class="panel panel-default">
	    <div class="panel-heading text-center">
		<h3 class="text-muted">
		    <strong>
      {% if ar %}
			<span class="fa fa-pencil"></span>
      تحديث الحساب الرئيسي
      {% else %}
			<span class="fa fa-pencil"></span>  Update admin password
      {% endif %}
		    </strong>
		</h3>
	    </div>
	  <div class="panel-body">
      {{ brp * 4 }}
		  {{ form.csrf_token }}
      {% if ar %}
      <p class="h3 text-center text-danger" id="ar2">
        | ينصح بتغير كلمة السر الإفتراضية للحساب الرئيسي |
      </p>
      {% else %}
      <p class="h3 text-center text-danger">
        | It is highly recommanded to change the default password for
        security reasons |
      </p>
      {% endif %}
      {{ brp * 3 }}
      {% if ar %}
      <p class="h4 text-center text-muted" id="ar2">
		    | كلمة السر القيمة الوحيدة القابلة للتعديل في الحساب الرئيسي |
		  </p>
      {% else %}
      <p class="h4 text-center text-muted">
		    |  the only update-able attribute to the main admin accound is
        password  |
		  </p>
      {% endif %}
      {{ brp * 3 }}
      {% if ar %}
		  {{ render_field(form.password, class="form-control ar1") }}
      {% else %}
		  {{ render_field(form.password, class="form-control") }}
      {% endif %}
      {{ brp * 3 }}
		  <center>
      {% if ar %}
		    {{ form.submit(class_="btn btn-md btn-danger ar1") }}
      {% else %}
		    {{ form.submit(class_="btn btn-md btn-danger") }}
      {% endif %}
		  </center>
      {{ brp*4 }}
	   </div>
	</div>
    </form>
    <br>
</div>
{% endblock %}
