<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle }} {% endblock %}
{% block head %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<style>
.qrw:hover {
  filter: brightness(0.8);
}
</style>
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{%- from "sb_manage.html" import sb_manage with context %}
{% block sidebar %}
{{ sb_manage() }}
{% endblock %}

{% block page_content %}
{%- from "auto_reload.html" import auto_reloader with context %}
{% from "_footers.html" import panelFooter, spacer %}
<div class="col-md-12">
    <div class="panel panel-primary">
    	<div class="panel-heading">
	    	<div class="row">
				{{ auto_reloader(True, duration=translate('Duration', 'en', [defLang]), refresh=translate('Auto reload', 'en', [defLang]), durMsg=translate('Enter a duration in seconds to auto-reload the page in :', 'en', [defLang])) }}
    			<div class="col-xs-12 hidden-md hidden-lg text-center mb-1">
        			<a href="#" data-toggle="modal" data-target="#branch_qr"
        				data-toggle="tooltip"
        				title="QR - {{ translate('All tickets', 'en', [defLang]) }}"
					>
						<i class="fa fa-3x fa-fw fa-qrcode fa-spin qrw" style="color: white;"></i>
					</a>
    			</div>
				<div class="col-xs-12">
		    		<h2 class="text text-center"><strong> {{ translate('All tickets', 'en', [defLang]) }} </strong></h2>
				</div>
	    	</div>
	    	<div class="row">
				<div class="col-xs-12 text-center">
		    		<div class="btn-group-justified">
						<a class="btn btn-warning" data-toggle="modal" data-target="#rall">
			    			<span class="fa fa-reply-all"></span>
			    			<strong>{{ translate('Reset all', 'en', [defLang]) }}</strong>
						</a>
						<a class="btn btn-danger" data-toggle="modal" data-target="#dall">
			    			<span class="fa fa-trash"></span>
			    			<strong>{{ translate('Delete all', 'en', [defLang]) }}</strong>
						</a>
		    		</div>
				</div>
	    	</div>
        </div>
        <div class="panel-body">
	    	<div class="row text-center ar2 h3 text-muted hidden-xs">
				<div class="col-xs-2">
		    		({{ translate('Ticket', 'en', [defLang]) }})
				</div>
				<div class="col-xs-2">
		    		({{ translate('Issued', 'en', [defLang]) }})
				</div>
				<div class="col-xs-3">
		    		({{ translate('pulled', 'en', [defLang]) }})
				</div>
				<div class="col-xs-3">
		    		({{ translate('Value', 'en', [defLang]) }})
				</div>
				<div class="col-xs-2">
		    		({{ translate('Ticket type', 'en', [defLang]) }})
				</div>
	    	</div>
	    	{% for o in officesp %}
	      	{% if o.number != 100 %}
			<div class="row well {% if o.p %} text-primary {% else %} text-danger {% endif %} h4  text-center">
		  		<div class="col-xs-12 col-sm-2">
		    		<b> {{ offices.filter_by(id=o.office_id).first().prefix }}{{ o.number }}.</b>
		  		</div>
		  		<div class="col-xs-12 col-sm-2">
		    		<u>{{ moment(o.timestamp).format('L') }}</u>
		  		</div>
		  		<div class="col-xs-12 col-sm-3">
		    		{% if o.p %} <u>{{ users.filter_by(id=o.pulledBy).first().name }} / {{ moment(o.pdt).fromNow() }}</u>
		    		{% else %} <u>{{ translate('Waiting', 'en', [defLang]) }}</u> {% endif %}
		  		</div>
		  		<div class="col-xs-12 col-sm-3">
		    		{% if o.n %}<u> {{ o.name }} </u> {% else %} <u> {{ translate('None', 'en', [defLang]) }} </u> {% endif %}
		  		</div>
		  		<div class="col-xs-12 col-sm-2">
		      		<u> {% if o.n %} {{ translate('Registered', 'en', [defLang]) }} {% else %} {{ translate('Printed', 'en', [defLang]) }} {% endif %} </u>
		  		</div>
			</div>
	      	{% endif %}
			{% endfor %}
			{{ spacer([translate('No tickets been issued yet to display', 'en', [defLang]), len(officesp) - serial.filter_by(number=100).count()]) }}
    	</div>
		<div class="panel-footer text-center">
			{{ panelFooter([
			[[translate('Offices total', 'en', [defLang]), offices.count()], [translate('Tickets total', 'en', [defLang]), serial.count()]],
			[[translate('Processed', 'en', [defLang]), serial.filter_by(p=True).count()], [translate('Waiting', 'en', [defLang]), serial.filter_by(p=False).count()]]
			], toWarn=translate('Waiting', 'en', [defLang])) }}
	    	<div class="row text-center">
				<div class="pagination">
		    		{{ macros.pagination_widget(pagination, '.all_offices') }}
				</div>
	    	</div>
		</div>
	</div>
</div>

{% from '_modals.html' import confirmModal, qrModal %}
{{ confirmModal(
	[['rall', translate('Warning : Resetting all', 'en', [defLang]),
	translate("You are attempting to reset every office and task to zero, with all tickets erased, that won't be retrievable , Are you sure of that ?", 'en', [defLang]),
	url_for('core.serial_ra')
	],
	['dall', translate('Warning : Deleting all', 'en', [defLang]),
	translate("You are attempting to delete every office and task under it with all tickets, which won't be retrievable , Are you sure of that ?", 'en', [defLang]),
	url_for('manage_app.office_da')]]
, yes=translate('Yes', 'en', [defLang]), no=translate('No', 'en', [defLang]))}}
{{ qrModal([['branch_qr', translate('QR code : All tickets', 'en', [defLang]), qrcode(url_for('manage_app.all_offices', _external=True))]], close=translate('Exit', 'en', [defLang])) }}
{% endblock %}
