<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle  }} {% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field %}
<div class="col-md-12">
  <form method="POST" enctype="multipart/form-data" id="fm">
	  <div class="panel panel-default">
      <div class="panel-heading text-center">
		    <h3 class="text-muted">
			    <span class="fa fa-database"></span>
          <strong>
            {{ translate('Export', 'en', [defLang]) }} CSV
		      </strong>
		    </h3>
	    </div>
	    <div class="panel-body">
		    {{ form.csrf_token }}
        <h3 class="text text-center text-muted ar2 mt-4 mb-7">
          | {{ translate("CSV is a basic text files that is used to export database columns and rows into a simple text format, in-which each value is separated by a comma", 'en', [defLang])}}  |
        </h3>
		    {{ render_field(form.table, class="form-control mb-4") }}
		    <center>
					<button type="submit" class="btn btn-md btn-danger mt-3 mb-5">{{ translate('Extract table', 'en', [defLang]) }}</button>
		    </center>
	    </div>
	  </div>
  </form>
</div>
{% endblock %}
