<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% from "_beloadingNotifier.html" import beloadingNotifier %}
{% from "_wallpapers.js" import wallpapers %}
<html>
    <head>
        <title>{% block title %} FQM - {{ page_title }} {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <link href="{{ url_for('static', filename='backstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='backstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='backstrap/css/bootstrap-theme.min.css.map') }}" rel="stylesheet">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='images/favicon.ico') }}"
        >
        <link href="{{ url_for('static', filename='css/gfonts.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/spacing.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='backstrap/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='backstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='wallpapers.min.js') }}"></script>
        {{ datepicker.loader() }}
        {{ beloadingNotifier(version, beload=False, release=translate("You are using an older version of FQM, a newer release is available on fqms.github.io", 'en', [defLang]), firefox=translate("You are not using Firefox browser, which this project is designed and most suited for.", 'en', [defLang])) }}
        <script type="text/javascript">
            $(document).ready(function(){
                {{ wallpapers('.wallpapers', enable_reddit=settings.visual_effects, duration=30, overlay='rgba(0,0,0,0.1)') }}
                {% if n or form.errors %}
                // to toggle logging form modal if errors or unsigned login attempt
                $("#upd").modal('show')
                {% endif %}
                $.getScript('https://fqms.github.io/js/releases.js')
                    .done(function () {
                        ['Windows', 'Linux', 'Mac'].forEach(function (os) {
                            if (window.navigator.userAgent.indexOf(os) !== -1) {
                                if (releases[os] && releases[os] !== '{{ version }}') {
                                    var outdated = setInterval(function() {
                                        $('.outdated').toggle('fade', 2000)
                                        $('.fa-rss-square').effect('shake', 1000)
                                    }, 2000)

                                    $('.outdated').removeClass('hidden')
                                    $('.outdated, .fa-rss-square').click(function(e) {
                                        $('.outdated').fadeIn()
                                        clearInterval(outdated)
                                    })
                                }
                            }
                        })
                    })
            })
        </script>
    </head>

    <body>
        {% from "_helpers.html" import render_field with context %}
        <noscript>
            <style>html{display:none;}</style>
            <meta http-equiv="refresh" content="0.0;url=/nojs/0">
        </noscript>
        <div class="cover wallpapers vertical-center">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-xs-12 text-center snb coat pt-2 pb-2">
                        <a class="lightit" href="https://fqms.github.io/" target="_blank">
                            <img src="{{ url_for('static', filename='images/favicon.png') }}" class="image-responsive">
                        </a>
                        <h1 class="text text-muted" >Free Queue Manager</h1>
                        <h3 class="text text-muted mb-1"><i>Version {{ version }}</i></h3>
                        <h3 class="text text-danger mb-1 mt-1 outdated hidden">
                            {{ translate("Your current version of the software is outdated, please visit the website to downloaded a new version.", "en", [defLang]) }}
                        </h3>
                        {% for toAdd in [['hidden-md hidden-lg', '4x'], ['hidden-sm hidden-xs', '5x']] %}
        		        <div class="col-xs-12 text-center mt-2 mb-4 {{toAdd[0]}}">
                            <a href="https://www.youtube.com/channel/UC9_zci_JGr2hXBxziYbMMBw/videos"
                                data-toggle="tooltip"
                                title='Youtube {{ translate("tutorials", 'en', [defLang]) }}'
                                target="_blank"
                            >
                                <i class="fa fa-{{toAdd[1]}} fa-fw fa-youtube-play text-muted"></i>
                            </a>
                            <a href="https://fqms.github.io/"
                                data-toggle="tooltip"
                                title='FQM {{ translate("website", 'en', [defLang]) }}'
                                target="_blank"
                            >
                                <i class="fa fa-{{toAdd[1]}} fa-fw fa-rss-square text-muted text-inverse"></i>
                            </a>
        	                <a href="https://github.com/mrf345/fqm"
                              data-toggle="tooltip"
                              title='FQM {{ translate("source-code", "en", [defLang]) }}'
                              target="_blank"
                            >
                                <i class="fa fa-{{toAdd[1]}} fa-fw fa-github-square text-muted"></i>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#root_qr"
                              data-toggle="tooltip"
                              title='QR - {{ translate("main page", 'en', [defLang]) }}'
                            >
                                <i class="fa fa-{{toAdd[1]}} fa-fw fa-qrcode text-muted"></i>
                            </a>
                        </div>
                        {% endfor %}
                        <h2 class="text text-primary mb-2">
                            {{ translate('Queue management made easy and simple for all', 'en', [defLang]) }}
                        </h2>
                    	{% if current_user.is_authenticated %}
                    	<h2 class="text text-warning u"> ( {{ current_user.name }} )</h2>
                    	<h3 class="text text-muted u mb-2">
                            | 
                            {% if getattr(current_user, 'role_id', None) == 1 %} Administrator 
                            {% elif getattr(current_user, 'role_id', None) == 2 %} Monitor 
                            {% else %} Operator 
                            {% endif %} 
                            |
                        </h3>
                        <!-- If operator redirect to specific office instead of manage -->
                        {% if getattr(current_user, 'role_id', None) == 3 %}
                            {% if settings.single_row %}
                                <a class="btn btn-lg btn-primary" href="{{ url_for('manage_app.all_offices') }}">
                            {% else %}
                                <a 
                                    class="btn btn-lg btn-primary" 
                                    href="{{ url_for('manage_app.offices', o_id=operators.filter_by(id=current_user.id).first().office_id) }}"
                                >
                            {% endif %}
                        {% else %}
                            <a class="btn btn-lg btn-primary" href="{{ url_for('manage_app.manage') }}">
                        {% endif %}
                    	{% else %}
                        <h3 class='text text-muted i mt-3 mb-4'>
                            {% for curLang in [['en', 'English'], ['it', 'Italian'], ['es', 'Spanish'], ['ar', 'Arabic'], ['fr', 'French']] %}
                            {% if defLang != curLang[0] %}|| <a href="{{ url_for('language_switch', language=curLang[0]) }}">{{curLang[1]}}</a> ||{% endif %}
                            {% endfor %}
                        </h3>
                    	<a class="btn btn-lg btn-primary" data-target="#upd" data-toggle="modal">
                    	{% endif %}
                    		<strong class='mb-3'>
                                {{ translate("let's start", 'en', [defLang]) }}
                            </strong>
                    	</a>
                    </div>
                </div>
        	    {% for category, message in get_flashed_messages(with_categories=true) %}
        	    <div class="row mb-1">
        	        <div class="alert alert-{{ category }} alert-dismissable">
                        <button class="close" type="button" data-dismiss="alert">&times;</button>
                        {% set tra = translate(message, 'en', [defLang]).split(':') %}
        		        <h4 class="text text-center ar2"> [ <strong>{{tra[0]}}</strong>: {{tra[1]}} ]</h4>
        	        </div>
        	    </div>
        	    {% endfor %}
            </div>
        </div>
        {% if not current_user.is_authenticated %}
        <div class="modal fade" id="upd" >
            <div class="modal-dialog">
        	    <div class="modal-content">
        	        <div class="modal-header">
        		        <button type="button" class="close" data-dismiss="modal">&times;</button>
        	            <h4 class="modal-title text-center ar1">{{ translate("login", 'en', [defLang]) }}</h4>
        	        </div>
        	        <form method="POST" enctype="multipart/form-data" id="fm">
        		        <div class="modal-body">
        		            {{ form.csrf_token }}
                            {% if dpass %}
                            <p class="text-center text-danger h3 ar2 mb-10">
                                {{ translate('The default account', 'en', [defLang]) }} <br /><br />
                                <b class="ar1">User: Admin , Password: admin</b>
                            </p>
                            {% if ar %}
                            {% else %}
                            <p class="text-center text-muted h4 ar2 mb-10">
                              | {{ translate("Reminder: Change the default password, to disable this message", 'en', [defLang]) }} |
                            </p>
                            {% endif %}
                            {% endif %}
                            {{ render_field(form.name, class="form-control") }}
                            <p class="pb-3"></p>
                            {{ render_field(form.password, class="form-control") }}
                            <p class="pb-6"></p>
                            {{ render_field(form.rm, class="form-control pull-left") }}
                            <p class="pb-10"></p>
        		        </div>
        		        <div class="modal-footer">
                            {% if ar %}
                            {% else %}
        		                <button type="button" class="close btn btn-md btn-danger pull-left" data-dismiss="modal">{{ translate('cancel', 'en', [defLang]) }}</button>
        		                <button type="submit" class="close btn btn-md btn-primary">{{ translate("login", 'en', [defLang]) }}</button></a>
                            {% endif %}
        		        </div>
        	        </form>
        	    </div>
            </div>
        </div>
        {% endif %}
        {% from '_modals.html' import qrModal %}
        {{ qrModal([['root_qr', translate('QR code main page', 'en', [defLang]), qrcode(url_for('core.root', _external=True))]], close=translate('Exit', 'en', [defLang])) }}
    </body>
</html>
