<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ page_title  }} {% endblock %}

{% from "_beloadingNotifier.html" import beloadingNotifier %}
{% block head %}
{{ super() }}
{{ datepicker.loader() }}
{{ beloadingNotifier(version, beload=False, release=translate("You are using an older version of FQM, a newer release is available on fqms.github.io", 'en', [defLang]), firefox=translate("You are not using Firefox browser, which this project is designed and most suited for.", 'en', [defLang])) }}
{% endblock %}

{%- from "sb_manage.html" import sb_manage with context %}
{% block sidebar %}
{{ sb_manage() }}
{% endblock %}

{% block page_content %}
<div class="col-md-12">
    <div class="panel panel-default">
		<div class="panel-heading text-center">
			<h3 class="text-muted">
				<strong>
					{{ translate('Management', 'en', [defLang]) }}
				</strong>
			</h3>
		</div>
		<div class="panel-body">
		    <h4 class="text text-primary text-center ar2 mt-2">
				<strong>
					{{ translate('Allowing the admin and his assigned operators to manage the flow of tickets, by adding, modifying offices and task which are the virtual representation of the actual offices, tasks on-which tickets will be stored and pulled from to ease the process of dealing with queue management.', 'en', [defLang]) }}
				</strong>
		    </h4>
			<hr class="mb-4">
		    {% if getattr(current_user, 'role_id', None) != 3 or settings.single_row %}
		    <div class="media mb-1">
				<span class="fa fa-4x fa-search text-muted media-object pull-left"></span>
				<div class="media-body">
			    	<h4 class="text text-primary ar1">
						<u>{{ translate('Search', 'en', [defLang]) }} :</u>
    	    		</h4>
			    	<h4 class="text text-muted ar2">
						{{ translate('Allows the admin, permitted by admin operators to search with given parameters of ticket number, ticket prefix and or ticket date to reach to the specific ticket meant to be searched in a dynamic and fixable manner, that was well intended in design.', 'en', [defLang]) }}
					</h4>
				</div>
		    </div>
		    <div class="media mb-1">
				<span class="fa fa-4x fa-ticket text-muted media-object pull-left"></span>
				<div class="media-body">
					<h4 class="text text-primary ar1"><u>{{ translate('All tickets', 'en', [defLang]) }} :</u></h4>
					<h4 class="text text-muted ar2">
						{{ translate('Displays all existing tickets from all offices in a descending order from the newest to the oldest, and given the admin and permitted operators the options of resetting to zero or deleting all offices properly. As well as few indicators and counters that displays the number of offices, total, processed and waiting tickets accordingly.', 'en', [defLang]) }}
					</h4>
				</div>
		    </div>
		    <div class="media mb-1">
				<span class="fa fa-4x fa-plus text-muted media-object pull-left"></span>
				<div class="media-body">
			    	<h4 class="text text-primary ar1"><u>{{ translate('Add office', 'en', [defLang]) }} :</u></h4>
			    	<h4 class="text text-muted ar2">
						{{ translate('Allowing the admin and his permitted operators to add an office, that will later on contain multiple task and tickets, that will be always referenced to the created office via its chosen unique number and prefix, which will be used as a visual key code to reference tickets to their offices.', 'en', [defLang]) }}
			    	</h4>
				</div>
				</div>
				<div class="media mb-1">
					<span class="glyphicon fa-4x glyphicon-refresh text-muted media-object pull-left"></span>
					<div class="media-body">
							<h4 class="text text-primary ar1"><u>{{ translate('Repeat announcement', 'en', [defLang]) }} :</u></h4>
							<h4 class="text text-muted ar2">
							{{ translate('Allowing the admin and his permitted operators to replay the chosen audio announcements on the display screen.', 'en', [defLang]) }}
							</h4>
					</div>
				</div>
			<p class="pb-5"></p>
			<p class="pb-10"></p>
		    {% endif %}
		</div>
    </div>
</div>
{% endblock %}
