<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% macro sb_dis() %}
<div class="col-md-2 sidebar">
    <div class="row">
	<!-- uncomment code for absolute positioning tweek see top comment in css -->
	<div class="absolute-wrapper"> </div>
	<!-- Menu -->
	<div class="side-menu">
	    <nav class="navbar navbar-default" style="font-size: large;" role="navigation">
		<!-- Main Menu -->
		<div class="side-menu-container">
		    <ul class="nav navbar-nav">

			<li id="da1" {% if ar %} class="ar1" {% endif %}>
			    <a href="{{ url_for('cust_app.multimedia', aa=1) }}">
				<span class="fa fa-music"></span>
        {% if ar %}
        الوسائط المتعددة
        {% else %}
        Multimedia
        {% endif %}
			    </a>
			</li>

			<!-- Dropdown-->
			<li class="panel panel-default da2{% if ar %} ar1 {% endif %}" id="dropdown">
			    <a data-toggle="collapse" href="#dropdown-lvl1">
				<span class="fa fa-desktop"></span>
        {% if ar %}
        شاشة اللمس
        {% else %}
        Touch Srcreen
        {% endif %}
        <span class="caret"></span>
			    </a>
			    <!-- Dropdown level 1 -->
          <div id="dropdown-lvl1" class="panel-collapse collapse">
				<div class="panel-body">
				    <ul class="nav navbar-nav">
              <li  id="ts0"><a href="{{ url_for('cust_app.touchscreen_c', stab=0) }}">
                {% if ar %}
                1. القالب
                {% else %}
                1. Template
                {% endif %}
                <span class="fa fa-windows"></span>  <span class="badge pull-right" id="bb1"></span></a>
              </li>
					<li  id="ts2"><a href="{{ url_for('cust_app.touchscreen_c', stab=2) }}">
            {% if ar %}
            2. العنوان
            {% else %}
            2. Title
            {% endif %}
            <span class="fa fa-text-width"></span>  <span class="badge pull-right" id="bb1"></span></a>
          </li>
					<li id="ts3"><a href="{{ url_for('cust_app.touchscreen_c', stab=3) }}">
            {% if ar %}
            3. المهمات
            {% else %}
            3. Tasks
            {% endif %}
            <span class="fa fa-tasks"></span>  <span class="badge pull-right" id="bb2"></span></a>
          </li>
					<li id="ts4"><a href="{{ url_for('cust_app.touchscreen_c', stab=4) }}">
            {% if ar %}
            4. التنبيهات
            {% else %}
            4. Notification
            {% endif %}
            <span class="fa fa-flag"></span>  <span class="badge pull-right" id="bb3"></span></a>
          </li>
					<li id="ts5"><a href="{{ url_for('cust_app.touchscreen_c', stab=5) }}">
            {% if ar %}
            5. الخلفية
            {% else %}
            5. Background
            {% endif %}
            <span class="fa fa-picture-o"></span>  <span class="badge pull-right" id="bb4"></span></a>
          </li>
				    </ul>
				</div>
			    </div>
			</li>
			<!-- Dropdown-->
			<li class="panel panel-default da3 {% if ar %} ar1 {% endif %}" id="dropdown">
			    <a data-toggle="collapse" href="#dropdown-lvl2">
				<span class="fa fa-television"></span>
        {% if ar %}
        شاشة العرض
        {% else %}
        Display Screen
        {% endif %}
        <span class="caret"></span>
			    </a>

			    <!-- Dropdown level 1 -->
			    <div id="dropdown-lvl2" class="panel-collapse collapse">
				<div class="panel-body">
				    <ul class="nav navbar-nav">
              <li id="ds1"><a onclick="unique.goto(0)">
                {% if ar %}
                1. القالب
                {% else %}
                1. Template
                {% endif %}
                <span class="fa fa-windows"></span>  <span class="badge pull-right"></span></a></li>
					<li id="ds2"><a onclick="unique.goto(1)">
            {% if ar %}
            2. العنوان
            {% else %}
            2. Title
            {% endif %}
            <span class="fa fa-text-width"></span>  <span class="badge pull-right"></span></a></li>
					<li id="ds3"><a onclick="unique.goto(2)">
            {% if ar %}
            3. التذكرة الحالية
            {% else %}
            3. Current Ticket
            {% endif %}
            <span class="fa fa-ticket"></span>  <span class="badge pull-right"></span></a></li>
					<li id="ds4"><a onclick="unique.goto(3)">
            {% if ar %}
            4. المكتب الحالي
            {% else %}
            4. Current Office
            {% endif %}
            <span class="fa fa-building"></span>  <span class="badge pull-right" id="bb8"></span></a></li>
					<li id="ds5"><a onclick="unique.goto(4)">
            {% if ar %}
            5. لائحة الإنتظار
            {% else %}
            5. Waitting Tickets
            {% endif %}
            <span class="fa fa-clock-o"></span>  <span class="badge pull-right"></span></a></li>
					<li id="ds6"><a onclick="unique.goto(5)">
            {% if ar %}
            6. التنبيه الصوتي
            {% else %}
            6. Notification Sound
            {% endif %}
            <span class="fa fa-bell"></span>  <span class="badge pull-right"></span></a></li>
					<li id="ds7"><a onclick="unique.goto(6)">
            {% if ar %}
            7. الخلفية
            {% else %}
            7. Background
            {% endif %}
            <span class="fa fa-picture-o"></span>  <span class="badge pull-right" id="bb11"></span></a></li>
				    </ul>
				</div>
			    </div>
			</li>
      {% if vtrue == 2 %}
      <li class="panel panel-default da4 {% if ar %} ar1 {% endif %}" id="dropdown">
			    <a data-toggle="collapse" href="#dropdown-lvl3">
				    <span class="fa fa-film"></span>
            {% if ar %}
            عرض الشرائح
            {% else %}
            Display Slide-show
            {% endif %}
            <span class="caret"></span>
			    </a>
			    <!-- Dropdown level 1 -->
			    <div id="dropdown-lvl3" class="panel-collapse collapse">
				  <div class="panel-body">
				    <ul class="nav navbar-nav">
					    <li id="ss1"><a href="{{ url_for('cust_app.slideshow') }}">
                {% if ar %}
                قائمة الشرائح
                {% else %}
                Slides list
                {% endif %}
                <span class="fa fa-list"></span>  <span class="badge pull-right" id="bb7"></span></a></li>
					    <li id="ss2"><a href="{{ url_for('cust_app.slide_c') }}">
                {% if ar %}
                إعدادات الشرائح
                {% else %}
                Slides setttings
                {% endif %}
                <span class="fa fa-cogs"></span>  <span class="badge pull-right" id="bb8"></span></a></li>
					    <li id="ss3"><a href="{{ url_for('cust_app.slide_a') }}">
                {% if ar %}
                إضافة شريحة
                {% else %}
                Add a slide
                {% endif %}
                <span class="fa fa-plus"></span>  <span class="badge pull-right" id="bb9"></span></a></li>
            </ul>
				  </div>
			    </div>
      </li>
      {% endif %}
      {% if strue == 2 %}
      <li id="da5" {% if ar %} class="ar1" {% endif %}>
          <a href="{{ url_for('cust_app.video') }}">
        <span class="fa fa-video-camera"></span>
        {% if ar %}
        عرض الفيديو
        {% else %}
        Display Video
        {% endif %}
          </a>
      </li>
      {% endif %}
      <li id="da7" {% if ar %} class="ar1" {% endif %}>
			    <a href="{{ url_for('cust_app.ticket') }}">
				<span class="fa fa-print"></span>
        {% if ar %}
        التذاكر
        {% else %}
        Tickets
        {% endif %}
			    </a>
			</li>
		</div><!-- /.navbar-collapse -->
	    </nav>

	</div>
    </div>
</div>
{% endmacro %}
