<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% macro sb_manage() %}
<div class="col-md-2 sidebar">
    <div class="row">
	<!-- uncomment code for absolute positioning tweek see top comment in css -->
	<div class="absolute-wrapper"> </div>
	<!-- Menu -->
	<div class="side-menu">
	    <nav class="navbar navbar-default" style="font-size: large;" role="navigation">
		<!-- Main Menu -->
		<div class="side-menu-container">
		    <ul class="nav navbar-nav">
			{% if current_user.role_id != 3 %}
			<li id="da1" {% if ar %} class="ar1" {% endif %}>
			    <a href="{{ url_for('manage_app.search') }}">
				<span class="fa fa-search"></span>
        {% if ar %}
        بحث
        {% else %}
        Search
        {% endif %}
			    </a>
			</li>
			<li id="da2" {% if ar %} class="ar1" {% endif %}>
			    <a href="{{ url_for('manage_app.all_offices') }}">
				<span class="fa fa-ticket"></span>
        {% if ar %}
        كل التذاكر
        {% else %}
        All Tickets
        {% endif %}
			    </a>
			</li>
			<li id="da3" {% if ar %} class="ar1" {% endif %}>
			    <a href="{{ url_for('manage_app.office_a') }}">
				<span class="fa fa-plus"></span>
        {% if ar %}
        إضافة مكتب
        {% else %}
        Add new office
        {% endif %}
			    </a>
			</li>
			{% endif %}
			<!-- Dropdown-->
			{% for office in offices %}
			{% if current_user.role_id != 3 or office.operator_id == current_user.id %}
			<li class="panel panel-default da{{ office.id+3 }} {% if ar %} ar1 {% endif %}" id="dropdown">
			    <a data-toggle="collapse" href="#dropdown-lvl{{ office.id }}">
				<span class="fa fa-desktop"></span>
				{{ office.id }}.{% if ar %}مكتب{% else %}office{% endif %}  {{ office.prefix }}{{ office.name }}
				<span class="caret"></span>
				{% if serial.filter_by(p=False, office_id=office.id).count() != 0 %}
				<span class="badge pull-right">
				    {{ serial.filter_by(p=False, office_id=office.id).count() }}
				</span>
				{% endif %}
			    </a>
			    <!-- Dropdown level 1 -->
			    <div id="dropdown-lvl{{ office.id }}" class="panel-collapse collapse">
				<div class="panel-body">
				    <ul class="nav navbar-nav">
					<li  id="t1{{ office.id }}" {% if ar %} class="ar1" {% endif %}>
					    <a href="{{ url_for('manage_app.offices', o_id=office.id) }}">
						<span class="fa fa-ticket"></span>
            {% if ar %}
            كل تذاكر المكتب
            {% else %}
						All office tickets
            {% endif %}
					    </a>
					</li>
			<!-- Fix: pulling tickets by task_id instead of office_id -->
			<!-- Will include pull ticket under task instead of all tickets, fast and simple -->
					<li  id="t3{{ office.id }}" {% if ar %} class="ar1" {% endif %}>
					    <a href="{{ url_for('manage_app.task_a', o_id=office.id) }}">
						<span class="fa fa-plus"></span>
            {% if ar %}
            إضافة مهمة
            {% else %}
						Add new task
            {% endif %}
					    </a>
					</li>
					{% for task in tasks %}
					{% if task.office_id == office.id %}
					<li id="tt{{ office.id }}{{ task.id }}" {% if ar %} class="ar1" {% endif %}>
					    <a href="{{ url_for('manage_app.task', o_id=task.id) }}">
						{{ task.id }}.  {{ task.name }}
					    </a>
					</li>
					<!-- Pull is shifted to here -->
					<li  id="t2{{ office.id }}" {% if ar %} class="ar1" {% endif %}>
						<a href="{{ url_for('core.pull', o_id=task.id) }}">
								<span class="fa fa-minus"></span>
								{% if ar %}
									سحب تذكرة
								{% else %}
									Pull a ticket
								{% endif %}
								{% if serial.filter_by(p=False, task_id=task.id).count() != 0 %}
								<span class="badge pull-right">
									{{ serial.filter_by(p=False, task_id=task.id).count() }}
								</span>
								{% endif %}
						</a>
					</li>
					{% endif %}
					{% endfor %}
				    </ul>
				</div>
			    </div>
			</li>

			{% endif %}
			{% endfor %}
		    </ul>
		</div><!-- /.navbar-collapse -->
	    </nav>
	</div>
    </div>
</div>
{% endmacro %}
