<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle  }} {% endblock %}
{% block head %}
{{ super() }}
{{ datepicker.loader() }}
{{ datepicker.picker(id='#date') }}
{% endblock %}
are

{%- from "sb_manage.html" import sb_manage with context %}
{% block sidebar %}
{{ sb_manage() }}
{% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field %}
<div class="col-md-12">
    <form method="POST" enctype="multipart/form-data" id="fm">
	<div class="panel panel-default">
	    <div class="panel-heading text-center">
		<h3 class="text-muted">
      <span class="fa fa-search"></span>
      {% if ar %}
      <strong class="ar1">بحث عن التذاكر</strong>
      {% else %}
      <strong> Search tickets </strong>
      {% endif %}
    </h3>
	    </div>
	    <div class="panel-body">
    {{ brp * 4 }}
		{{ form.csrf_token }}
		<center><span class="fa fa-5x img-thumbnail text-primary fa-search"></span></center>
		<br><br />
    {% if ar %}
    <p class="h4 text-center text-muted ar2">
      | تستطيع البحث عن أي تذكرة مسجلة بإي من المعطيات المتوفرة بالأسفل , إذا كنت تريد
      أن تقوم بالبحث عن طريق معطى وحيد يمكنك ترك أي من حقول المعطيات فارغ |
		</p>
    {% else %}
		<p class="h4 text-center text-muted">
		    | You can search tickets with any of the following paramaters, if you wish to exclude any of them, simply leave it unchanged  |
		</p>
    {% endif %}
		<br><hr /><br />
		{{ render_field(form.tl, class="form-control") }}<br>
		{{ render_field(form.number, class="form-control") }}<br>
		{{ render_field(form.date, class="form-control") }}<br>
		<br><br>
		<center>
      {% if ar %}
      {{ form.submit(class_="btn btn-md btn-danger ar1") }}
      {% else %}
      {{ form.submit(class_="btn btn-md btn-danger") }}
      {% endif %}
    </center>
    {{ brp * 4 }}
	    </div>
	</div>
    </form>
    <br>
</div>
{% endblock %}
