<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle }} {% endblock %}
{% block head %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{%- from "sb_manage.html" import sb_manage with context %}
{% block sidebar %}
{{ sb_manage() }}
{% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field %}
{% from "_footers.html" import panelFooter, spacer %}
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
	    	<h2 class="text text-center">
        		{% if ar %}
        		<strong class="ar1">نتائج البحث </strong>
        		{% else %}
        		<strong> Search results </strong>
        		{% endif %}
      		</h2>
        </div>
    	<div class="panel-body">
	    	<div class="row text-center h3 text-muted hidden-xs ar2">
    			{% if ar %}
    			<div class="col-xs-2 ar2">
    			    (التذكرة)
    			</div>
    			<div class="col-xs-2 ar2">
    			    (الإصدار)
    			</div>
    			<div class="col-xs-3 ar2">
    			    (السحب)
    			</div>
    			<div class="col-xs-3 ar2">
    			    (القيمة)
    			</div>
    			<div class="col-xs-2 ar2">
    			    (نوع التذكرة)
    			</div>
    			{% else %}
				<div class="col-xs-2">
				    (Ticket)
				</div>
				<div class="col-xs-2">
				    (Issued)
				</div>
				<div class="col-xs-3">
				    (Pulled)
				</div>
				<div class="col-xs-3">
				    (Value)
				</div>
				<div class="col-xs-2">
				    (Ticket Type)
				</div>
    			{% endif %}
	    	</div>
			{% for o in serialsp %}
			{% if o.number != 100 %}
	    	<div class="row well {% if o.p %} text-primary {% else %} text-danger {% endif %} h4 text-center">
				<div class="col-xs-12 col-sm-2">
				    <b> {{ offices.filter_by(id=o.office_id).first().prefix }}{{ o.number }}.</b>
				</div>
				<div class="col-xs-12 col-sm-2">
				    <u>{{ moment(o.timestamp).format('L') }}</u>
				</div>
				<div class="col-xs-12 col-sm-3">
					{% if o.p %} <u>{{ users.filter_by(id=o.pulledBy).first().name }} / {{ moment(o.pdt).fromNow() }}</u>
			    	{% else %}
        			{% if ar %} <u class="ar1"> في الإنتظار</u> {% else %}<u>Waiting ..</u> {% endif %}
        			{% endif %}
				</div>
				<div class="col-xs-12 col-sm-3">
				    {% if o.n %}<u> {{ o.name }} </u> {% else %}
				    {% if ar %} <u class="ar1"> لا إسم</u> {% else %} <u> None </u> {% endif %}{% endif %}
				</div>
				<div class="col-xs-12 col-sm-2">
        		{% if ar %}
        		  <u class="ar1"> {% if o.n %} مسجلة {% else %} مطبوعة {% endif %} </u>
        		{% else %}
        		  <u> {% if o.n %} Registered {% else %} Printed {% endif %} </u>
        		{% endif %}
				</div>
			</div>
			{% endif %}
			{% endfor %}
			{{ spacer(['No tickets were found', len(serialsp)]) }}
		</div>
		<div class="panel-footer text-center">
			{{ panelFooter([
				[['Total tickets', serials.count()], ['Processed', serials.filter_by(p=True).count()], ['Waiting', serials.filter_by(p=False).count()]]
			], True) }}
	    	<div class="row text-center">
				<div class="pagination">
		    		{{ macros.pagination_widget(pagination, '.search') }}
				</div>
	    	</div>
		</div>
	</div>
</div>
{% endblock %}
