<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ page_title }} {% endblock %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{%- from "sb_manage.html" import sb_manage with context %}
{% block sidebar %}
{{ sb_manage() }}
{% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field with context %}
{% from "_footers.html" import panelFooter, spacer %}
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
	    	<h2 class="text text-center">
        		<strong> {{ translate('Search results', 'en', [defLang]) }} </strong>
      		</h2>
        </div>
    	<div class="panel-body">
	    	<div class="row text-center h3 text-muted hidden-xs ar2">
				<div class="col-xs-1">
				    ({{ translate('Ticket', 'en', [defLang]) }})
				</div>
				<div class="col-xs-2">
				    ({{ translate('Issued', 'en', [defLang]) }})
				</div>
				<div class="col-xs-2">
				    ({{ translate('Pulled', 'en', [defLang]) }})
				</div>
				<div class="col-xs-2">
		    		({{ translate('In-Waiting', 'en', [defLang]) }})
				</div>
				<div class="col-xs-3">
				    ({{ translate('Value', 'en', [defLang]) }})
				</div>
				<div class="col-xs-2">
				    ({{ translate('Ticket type', 'en', [defLang]) }})
				</div>
	    	</div>
			{% for o in serialsp %}
			
	    	<div class="row well {% if o.p %} text-primary {% else %} text-danger {% endif %} h4 text-center">
				<div class="col-xs-12 col-sm-1">
				    <b> {{ offices.filter_by(id=o.office_id).first().prefix }}{{ o.number }}.</b>
				</div>
				<div class="col-xs-12 col-sm-2">
				    <u>{{ moment(o.timestamp).format('L') }}</u>
				</div>
				<div class="col-xs-12 col-sm-2">
					{% if o.p %} <u>{{ users.filter_by(id=o.pulledBy).first().name }} / {{ moment(o.pdt).fromNow() }}</u>
			    	{% else %}
        			<u>{{ translate('Waiting', 'en', [defLang]) }}</u>
        			{% endif %}
				</div>
				<div class="col-xs-12 col-sm-2">
					{% if o.p %} <u> {{ moment_wrapper(moment(o.timestamp)).toTime(o.pdt) }} </u>
					{% else %} <u> {{ moment_wrapper(moment(o.timestamp)).toNow() }} </u> {% endif %}
				</div>
				<div class="col-xs-12 col-sm-3">
				    {% if o.n %}<u> {{ o.name }} </u> {% else %}
				    <u> {{ translate('None', 'en', [defLang]) }} </u> {% endif %}
				</div>
				<div class="col-xs-12 col-sm-2">
        		  <u> {% if o.n %} {{ translate('Registered', 'en', [defLang]) }} {% else %} {{ translate('Printed', 'en', [defLang]) }} {% endif %} </u>
				</div>
			</div>
			
			{% endfor %}
			{{ spacer([translate('No tickets were found', 'en', [defLang]), len(serialsp)]) }}
		</div>
		<div class="panel-footer text-center">
			{{ panelFooter([
				[[translate('Total tickets', 'en', [defLang]), serials.count()], [translate('Processed', 'en', [defLang]), serials.filter_by(p=True).count()], [translate('Waiting', 'en', [defLang]), serials.filter_by(p=False).count()]]
			], True, toWarn=translate('Waiting', 'en', [defLang])) }}
	    	<div class="row text-center">
				<div class="pagination">
		    		{{ macros.pagination_widget(pagination, '.search') }}
				</div>
	    	</div>
		</div>
	</div>
</div>
{% endblock %}
