<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle  }} {% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field %}
<div class="col-md-12">
    <form method="POST" enctype="multipart/form-data" id="fm">
	<div class="panel panel-default">
	    <div class="panel-heading text-center">
		<h3 class="text-muted">
			<span class="fa fa-pencil"></span>
      {% if ar %}
      <strong class="ar1">مدة إعادة تجديد الصفحة</strong>
      {% else %}
        <strong>
          Autoreload duration
		    </strong>
      {% endif %}
		</h3>
	    </div>
	  <div class="panel-body">
      {{ brp * 4 }}
		  {{ form.csrf_token }}
      {% if ar %}
      <p class="h3 text-center text-muted ar2">
        | هذه الميزة تتيح تعديل الوقت الذي يتم فيه إعادة تجديد الصفحة في قسم التنظيم |
      </p>
      {% else %}
      <p class="h3 text-center text-muted">
        | This feature meant to modify the time in-which the autoreload used in
        Manage has to reload the page |
      </p>
      {% endif %}
      {{ brp * 3 }}
		  {{ render_field(form.ar_d, class="form-control") }}
      {{ brp * 3 }}
		  <center>
        {% if ar %}
		    {{ form.submit(class_="btn btn-md btn-danger ar1") }}
        {% else %}
		    {{ form.submit(class_="btn btn-md btn-danger") }}
        {% endif %}
		  </center>
      {{ brp*4 }}
	   </div>
	</div>
    </form>
    <br>
</div>
{% endblock %}
