<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle  }} {% endblock %}

{% block head %}
{% from '_uniqueness.html' import uniqueness %}
{{ super() }}
{{ fontpicker.loader() }}
{{ colorpicker.loader() }}
{{ colorpicker.picker(ids=['#hcolor', '#tcolor', '#bgcolor'], showAlpha='false', allowEmpty='false') }}
{{ colorpicker.picker(ids=['#hbg', '#tbg'], allowEmpty='false') }}
{{ fontpicker.picker(
	ids=['#hfont', '#tfont'],
	families="['Aref Ruqaa', 'Cairo', 'Amiri', 'Changa', 'El Messiri', 'Harmattan', 'Jomhuria', 'Katibeh', 'Lalezar', 'Lateef', 'Lemonada', 'Mada', 'Mirza', 'Rakkas', 'Reem Kufi', 'Scheherazade']",
	urlCss=url_for('static', filename='css/gfonts.css'))
}}
<!-- Loading uniqueness macro -->
{{ uniqueness(hash, form.errors, False) }}
{% endblock %}

{%- from "sb_cust.html" import sb_cust with context %}
{% block sidebar %}
{{ sb_cust() }}
{% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field %}
{% from "_uniqueness.html" import unique_btns %}
{% from "_modals.html" import qrModal %}
<div class="col-md-12">
    <form method="POST" enctype="multipart/form-data" id="fm">
		<div class="panel panel-default uniqueness">
	    	<div class="panel-heading text-center">
				<h3 class="text-muted">
      				<span class="fa fa-plus"></span>
      				<strong>
						{{ translate('Slideshow', 'en', [defLang]) }} - {{ translate('Add a slide', 'en', [defLang]) }}
      				</strong>
    			</h3>
	    	</div>
	    	<div class="panel-body">
				{{ form.csrf_token }}
				<a data-toggle="modal" data-target="#mym">
		    		<center><img class="img-responsive img-thumbnail mt-5 mb-2" id="map" src="{{ url_for('static', filename='images/slideshow_title.jpg') }}"></center>
				</a>
    			<p class="h3 mb-2 text-center text-danger ar2">
		    		| {{ translate('Title : Main text box that displays main heading of a slide', 'en', [defLang]) }} |
				</p>
				{{ render_field(form.title, class="form-control") }}<br>
				{{ render_field(form.hsize, class="form-control") }}<br>
				{{ render_field(form.hcolor, class="sp", value="rgb(255,255,0)") }}<br>
				{{ render_field(form.hbg, class="spa", value="rgba(0,0,0,0.5)") }}<br>
				{{ render_field(form.hfont, class="form-control") }}
				<p class="pt-5"></p>
					{{ unique_btns(translate('Previous', 'en', [defLang]), translate('Add', 'en', [defLang]), translate('Next', 'en', [defLang])) }}
				<p class="pb-2"></p>
	    	</div>
		</div>
		<div class="panel panel-default uniqueness">
	    	<div class="panel-heading text-center">
				<h3 class="text-muted">
      				<span class="fa fa-plus"></span>
      				<strong>{{ translate('Slideshow', 'en', [defLang]) }} - {{ translate('Add a slide', 'en', [defLang]) }}</strong>
    			</h3>
	    	</div>
	    	<div class="panel-body">
				<a data-toggle="modal" data-target="#mym">
		    		<center><img class="img-responsive img-thumbnail mt-5 mb-2" id="map"  src="{{ url_for('static', filename='images/slideshow_subtitle.jpg') }}"></center>
				</a>
    			<p class="h3 text-center text-danger mb-2 ar2">
    			    | {{ translate('Subtitle : Secondary text box will be displayed under main title', 'en', [defLang]) }} |
    			</p>
				{{ render_field(form.subti, class="form-control") }}<br>
				{{ render_field(form.tsize, class="form-control") }}<br>
				{{ render_field(form.tcolor, class="sp", value="rgb(0,0,255)") }}<br>
				{{ render_field(form.tbg, class="spa", value="rgba(0,0,0,0.5)") }}<br>
  				{{ render_field(form.tfont, class="form-control") }}<br>
				<hr>
				<p class="h3 text-center mb-2 mt-2 ar2 text-danger">
				    | {{ translate('To select a background on-which slide content be displayed', 'en', [defLang]) }} |
				</p>
				{{ render_field(form.background, class="form-control") }}
				<p class="pb-2"></p>
				<center>{{ form.bgcolor(class_="sp") }}</center>
				<p class="pb-5"></p>
				{{ unique_btns(translate('Previous', 'en', [defLang]), translate('Add', 'en', [defLang]), translate('Next', 'en', [defLang])) }}
				<p class="pb-2"></p>
	    	</div>
		</div>
    </form>
</div>

{{ qrModal([['mym', translate('Slideshow template', 'en', [defLang]), url_for('static', filename='images/slideshow.jpg')]], close=translate('Exit', 'en', [defLang])) }}
{% endblock %}
