<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle }} {% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='reload.js') }}"></script>
{{ pagedown.include_pagedown() }}
<script>
$(document).ready(function() {
 areload({{ ar_d }});
});
</script>
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{%- from "sb_manage.html" import sb_manage with context %}
{% block sidebar %}
{{ sb_manage() }}
{% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field %}
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
	    <div class="row">
		<div class="col-xs-12">
      <a id="ar" class="btn btn-primary pull-right hidden-sm hidden-xs {% if ar %} ar1 {% endif %}" data-toggle="tooltip"
      title="{% if ar %} تفعيل أو إيقاف إعادة تجديد الصفحة {% else %} Start/Stop auto-reloading the page {% endif %}">
    <span class="glyphicon glyphicon-refresh"></span>
    {% if ar %}
    تجديد الصفحة تلقائياً
    {% else %}
    Auto Reload
    {% endif %}
      </a>
      <center><a id="arb" class="btn btn-primary btn-sm hidden-lg hidden-md {% if ar %} ar1 {% endif %}"
        data-toggle="tooltip" title="{% if ar %} تفعيل أو إيقاف إعادة تجديد الصفحة {% else %} Start/Stop auto-reloading the page {% endif %}">
    <span class="glyphicon glyphicon-refresh"></span>
    {% if ar %}
    تجديد الصفحة تلقائياً
    {% else %}
    Auto Reload
    {% endif %}
      </a></center>
		</div>
		<div class="col-xs-12">
		    <h2 class="text text-center">
      {% if ar %}
			<strong class="ar1">المهمة : {{ task.name }}</strong>
      {% else %}
			<strong>Task : {{ task.name }}</strong>
      {% endif %}
		    </h2>
		</div>
	    </div>
	    <div class="row text-center text-muted h4">
    {% if ar %}
    <div class="col-sm-10 col-sm-offset-1 col-md-3 well ar1">
		    رمز حرفي : <u>{{ offices.filter_by(id=task.office_id).first().prefix }}</u>
		</div>
		<div class="col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-4 well ar1">
		    مستخدم خاص : <u>{% if user == "Not assigned" %} لم يحدد بعد {% else %} {{ user }} {% endif %}</u>
		</div>
		<div class="col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-3 well ar1">
		    تم الإضافة : <u> {{ moment(task.timestamp).format('L') }}</u>
		</div>
    {% else %}
		<div class="col-sm-10 col-sm-offset-1 col-md-3 well">
		    Prefix : <u>{{ offices.filter_by(id=task.office_id).first().prefix }}</u>
		</div>
		<div class="col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-4 well">
		    Opretator : <u>{{ user }}</u>
		</div>
		<div class="col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-3 well">
		    Created : <u> {{ moment(task.timestamp).format('L') }}</u>
		</div>
    {% endif %}
	    </div>
	    <div class="row">
		<div class="col-xs-12 text-center">
		    <div class="btn-group-justified">
			<a class="btn btn-info" data-toggle="modal" data-target="#upd">
			    <span class="fa fa-pencil hidden-xs"></span>
          {% if ar %}
			    <strong class="ar1">تحديث</strong>
          {% else %}
			    <strong>Update</strong>
          {% endif %}
			</a>
			<a class="btn btn-warning" data-toggle="modal" data-target="#rall">
			    <span class="fa fa-reply hidden-xs"></span>
          {% if ar %}
			    <strong class="ar1">إعادة تهيئه</strong>
          {% else %}
			    <strong>Reset</strong>
          {% endif %}
			</a>
			<a class="btn btn-danger" data-toggle="modal" data-target="#dall">
			    <span class="fa fa-trash hidden-xs"></span>
          {% if ar %}
			    <strong class="ar1">حذف</strong>
          {% else %}
			    <strong>Delete</strong>
          {% endif %}
			</a>
		    </div>
		</div>
	    </div>
	</div>
        <div class="panel-body">
	    <div class="row text-center h3 text-muted hidden-xs">
    {% if ar %}
    <div class="col-xs-2 ar2">
		    (التذكرة)
		</div>
		<div class="col-xs-2 ar2">
		    (الإصدار)
		</div>
		<div class="col-xs-3 ar2">
		    (السحب)
		</div>
		<div class="col-xs-3 ar2">
		    (القيمة)
		</div>
		<div class="col-xs-2 ar2">
		    (نوع التذكرة)
		</div>
    {% else %}
		<div class="col-xs-2">
		    (Ticket)
		</div>
		<div class="col-xs-2">
		    (Issued)
		</div>
		<div class="col-xs-3">
		    (Pulled)
		</div>
		<div class="col-xs-3">
		    (Value)
		</div>
		<div class="col-xs-2">
		    (Ticket Type)
		</div>
    {% endif %}
	    </div>
	    {% for o in tasksp %}
	    <div class="row well {% if o.p %} text-primary {% else %} text-danger {% endif %} h4  text-center">
		<div class="col-xs-12 col-sm-2">
		    <b> {{ offices.filter_by(id=o.office_id).first().prefix }}{{ o.number }}.</b>
		</div>
		<div class="col-xs-12 col-sm-2">
		    <u>{{ moment(o.timestamp).format('L') }}</u>
		</div>
		<div class="col-xs-12 col-sm-3">
		    {% if o.p %}<u>{{ moment(o.pdt).fromNow() }}</u>
		    {% else %}
        {% if ar %} <u class="ar1"> في الإنتظار</u> {% else %}<u>Waiting ..</u> {% endif %}
        {% endif %}
		</div>
		<div class="col-xs-12 col-sm-3">
		    {% if o.n %}<u> {{ o.name }} </u> {% else %}
        {% if ar %}<u class="ar1"> لا إسم</u> {% else %} <u> None </u> {% endif %}
        {% endif %}
		</div>
		<div class="col-xs-12 col-sm-2">
      {% if ar %}
		    <u class="ar1"> {% if o.n %} مسجلة {% else %} مطبوعة {% endif %} </u>
      {% else %}
		    <u> {% if o.n %} Registered {% else %} Printed {% endif %} </u>
      {% endif %}
		</div>
	    </div>
	    {% endfor %}
	    {% if len(tasksp) == 0 %}
	    <br>
	    <div class="well">
		{{ brp*10 }}
    {% if ar %}
    <h3 class="text-danger text-center ar1">
		    لا يوجد تذاكر مسجلة إلى الآن
		</h3>
    {% else %}
		<h3 class="text-danger text-center">
		    No tickets been issued yet to display ..
		</h3>
    {% endif %}
		{{ brp*10 }}
	    </div>
	    {% elif len(tasksp) <= 4 %}
	    {{ brp*15 }}
	    {% endif %}
	    </div>
	    <div class="panel-footer text-center">
		<div class="row">
      {% if ar %}
      <div class="col-xs-12 col-sm-6 h4 ar1">
    إجمالي المهمات :
    <br /><br />
    <span class="label label-info">
        <i> {{ tasks.filter_by(office_id=task.office_id).count() }} </i>
    </span>
      </div>
      <div class="col-xs-12 col-sm-6 h4 ar1">
    إجمالي التذاكر :
    <br /><br />
    <span class="label label-info">
        <i> {{ serial.filter_by(task_id=o_id).count() }}</i>
    </span>
      </div>
      {% else %}
		    <div class="col-xs-12 col-sm-6  h4">
			Tasks total :
			<span class="label label-info">
			    <i> {{ tasks.filter_by(office_id=task.office_id).count() }} </i>
			</span>
		    </div>
		    <div class="col-xs-12 col-sm-6  h4">
			Tickets total :
			<span class="label label-info">
			    <i> {{ serial.filter_by(task_id=o_id).count() }}</i>
			</span>
		    </div>
      {% endif %}
		</div>
		<div class="row">
      {% if ar %}
      <div class="col-xs-12 col-sm-6 h4 ar1">
    تم سحبه :
    <br /><br />
    <span class="label label-info">
        <i>{{ serial.filter_by(p=True, task_id=o_id).count() }}</i>
    </span>
      </div>
      <div class="col-xs-12 col-sm-6 h4 ar1">
    في الإنتظار :
    <br /><br />
    <span class="label label-danger">
        <i>{{ serial.filter_by(p=False, task_id=o_id).count() }}</i>
    </span>
      </div>
      {% else %}
		    <div class="col-xs-12 col-sm-6  h4">
			Proccessed :
			<span class="label label-info">
			    <i>{{ serial.filter_by(p=True, task_id=o_id).count() }}</i>
			</span>
		    </div>
		    <div class="col-xs-12 col-sm-6  h4">
			Waiting :
			<span class="label label-danger">
			    <i>{{ serial.filter_by(p=False, task_id=o_id).count() }}</i>
			</span>
		    </div>
        {% endif %}
		</div>
		<div class="row text-center">
		    <div class="pagination">
			{{ macros.pagination_widget(pagination, '.task', o_id=o_id) }}
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
<div class="modal fade" id="rall">
    <div class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
    {% if ar %}
		<h4 class="modal-title text-center ar1">تحذير : إعدة تهيئة المهمة</h4>
    {% else %}
		<h4 class="modal-title text-center">Warning : Reset task </h4>
    {% endif %}
	    </div>
	    <div class="modal-body">
		<h4 class="text-danger text-center text-warning">
    {% if ar %}
		    <strong class="ar2">
          تحاول القيام بإعادة تهيئة المهمة , و لن يكون بإمكانك لاحقاً إسترجاعها ,
تريد بالفعل الإستمرار في ذالك ؟
        </strong>
    {% else %}
		    <strong> You are attempting to reset a task to zero, with its all tickets been
			deleted and  won't be retrievable , Are you sure of that ? </strong>
    {% endif %}
      <br><br>
		</h4>
	    </div>
	    <div class="modal-footer">
        {% if ar %}
        <button type="button" class="close btn btn-md btn-warning pull-left ar1" data-dismiss="modal">إلغاء</button>
		    <a href="{{ url_for('core.serial_rt', t_id=o_id) }}"><button type="button" class="close btn btn-md btn-danger ar1">إستمرار</button></a>
        {% else %}
		    <button type="button" class="close btn btn-md btn-warning pull-left" data-dismiss="modal">No, don't</button>
		    <a href="{{ url_for('core.serial_rt', t_id=o_id) }}"><button type="button" class="close btn btn-md btn-danger">Yes, sure</button></a>
        {% endif %}
	    </div>
	</div>
    </div>
</div>
<div class="modal fade" id="dall">
    <div class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
    {% if ar %}
		<h4 class="modal-title text-center ar1">تنبيه : حذف المهمة</h4>
    {% else %}
		<h4 class="modal-title text-center">Warning : Delete task </h4>
    {% endif %}
	    </div>
	    <div class="modal-body">
		<h4 class="text-danger text-center text-warning">
      {% if ar %}
      <strong class="ar2">
        تحاول القيام بحذف المهمة و لا يمكنك إسترجعها فيما بعد ,
        تريد بالفعل الإستمرار في ذالك ؟
      </strong>
      {% else %}
		    <strong>
          You are attempting to delete a task whit its all tickets
		  	  which won't be retrievable , Are you sure of that ?
        </strong>
      {% endif %}
      <br><br>
		</h4>
	    </div>
	    <div class="modal-footer">
    {% if ar %}
    <button type="button" class="close btn btn-md btn-warning pull-left ar1" data-dismiss="modal">إلغاء</button>
		<a href="{{ url_for('manage_app.task_d', t_id=o_id) }}"><button type="button" class="close btn btn-md btn-danger ar1">إستمرار</button></a>
    {% else %}
		<button type="button" class="close btn btn-md btn-warning pull-left" data-dismiss="modal">No, don't</button>
		<a href="{{ url_for('manage_app.task_d', t_id=o_id) }}"><button type="button" class="close btn btn-md btn-danger">Yes, sure</button></a>
    {% endif %}
	    </div>
	</div>
    </div>
</div>
<div class="modal fade" id="upd">
    <div class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
    {% if ar %}
		<h4 class="modal-title text-center ar1">تحديث المهمة</h4>
    {% else %}
		<h4 class="modal-title text-center">Update task </h4>
    {% endif %}
	    </div>
	    <form method="POST" enctype="multipart/form-data" id="fm">
		<div class="modal-body">
		    {{ form.csrf_token }}
		    {{ render_field(form.name, class="form-control") }}<br>
		    <br><br>
		</div>
		<div class="modal-footer">
        {% if ar %}
        <button type="button" class="close btn btn-md btn-warning pull-left ar1" data-dismiss="modal">إلغاء</button>
		    <button type="submit" class="close btn btn-md btn-danger ar1">تحديث</button></a>
        {% else %}
		    <button type="button" class="close btn btn-md btn-warning pull-left" data-dismiss="modal">Cancel</button>
		    <button type="submit" class="close btn btn-md btn-danger">Update</button></a>
        {% endif %}
		</div>
	    </form>
	</div>
    </div>
</div>
{% endblock %}
