<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle  }} {% endblock %}

{%- from "sb_cust.html" import sb_cust with context %}
{% block sidebar %}
{{ sb_cust() }}
{% endblock %}

{% block head %}
{{ super() }}
<script>
var toRemove = function (theList=[], toAdd=false) {
  theList.forEach(function (item) {
    toAdd ? $(item).addClass('hide') : $(item).removeClass('hide')
  })
}
$(document).ready(function () {
  if ($('#langu option:selected').val() !== 'en' && $('#kind option:selected').val() === '2') toRemove(['#warn'])
  $('#kind option:selected').val() === '2' ? toRemove(['#warn2', '#warn3', '.tohide']) : toRemove(['.nhide'])
  $('#langu').change(function () {
    $('#langu option:selected').val() !== 'en' ? toRemove(['#warn']) : toRemove(['#warn'], true)
  })
  $('#kind').change(function () {
    if ($('#kind option:selected').val() === '2') {
      toRemove(['#warn2', '#warn3', '.tohide'])
      toRemove(['.nhide'], true)
      if ($('#langu option:selected').val() !== 'en') toRemove(['#warn'])
    } else {
      toRemove(['#warn2', '#warn3', '.tohide'], true)
      toRemove(['.nhide'])
    }
  })
})
</script>
{% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field %}
{% from "_modals.html" import qrModal %}
<div class="col-md-12">
    <form method="POST" enctype="multipart/form-data">
	    <div class="panel panel-default" id="p1">
	      <div class="panel-heading text-center">
		      <h3 class="text-muted">
            <span class="fa fa-print"></span>
            {% if ar %}
            <strong class="ar1">التذاكر</strong>
            {% else %}
            <strong> Tickets </strong>
            {% endif %}
          </h3>
	      </div>
	      <div class="panel-body">
		      {{ form.csrf_token }}
          <center>
            <a data-toggle="modal" data-target="#mym">
              <img class="img-responsive img-thumbnail mt-4 mb-2 pic" id="map" width="40%" src="{{ url_for('static', filename='images/manage_task.jpg') }}">
            </a>
            {% if ar %}
            <p class="h4 text-danger ar2">
              | مسجلة : نوع التذكرة هذه تسمح للعميل بتسجيل إسمه بعد إختياره
              لي مهمة معينة و سيستخدم الإسم للإشارة إلى العميل كبديل لرقم التذكرة |
		        </p>
            <p class="h4 text-danger ar2">
              | مطبوعة : نوع التذكرة المتعارف عليها و التي تتطلب توفر طابعة معرفة |
            </p>
            {% else %}
		        <p class="h3 ar2 text-muted">
		          | Registered : allows the customer
              to register his name and that will be used to refer by,
              instead of a typical printed ticket |
		        </p>
            <p class="h3 ar2 mb-3 mt-1 text-muted">
              | Printed : the typical printed unique customer ticket number  |
            </p>
            {% endif %}
          </center>
		      {{ render_field(form.kind, class="form-control touch") }}
          {% if ar %}
          <h4 id="warn2" class="text-center text-danger hide ar2">
            | تنبيه : لإستخدام التذاكر المطبوعة يتطلب منك توفير و تعريف طابعة |
          </h4>
          <h4 id="warn3" class="text-center text-danger hide ar2">
            | تنبيه : طابعات اليو إس بي , الطابعات الوحيدة التي يمكن لنظام التعرف عليها |
          </h4>
          {% else %}
          <h4 id="warn2" class="text-center ar2 mt-3  text-danger hide">
            | Reminder: to use printed tickets you must assign available printer |
          </h4>
          <h4 id="warn3" class="text-center ar2 mt-1 text-danger hide">
            | Reminder: Only supported printers currently are usb printers |
          </h4>
          {% endif %}
          <div class="nhide hide">
            {{ render_field(form.value, class="form-control") }}
          </div>
          <div class="tohide hide">
            {{ render_field(form.langu, class="form-control") }}
          </div>
          {% if ar %}
          <h4 id="warn" class="text-center text-danger ar2 hide">
            | تنبيه : الطباعة باللغة العربية لازلت قيد التجريب و إستخدامها
            قد يحدث أخطاء غير متوقعة |
          </h4>
          {% else %}
          <h4 id="warn" class="text-center ar2 mb-3 mt-3 text-danger hide">
            | Reminder : printing with languages other than English , is still under testing and might
            cause unintended errors |
          </h4>
          {% endif %}
          <div class="tohide hide">
  		      {{ render_field(form.printers, class="form-control") }}
          </div>
		    <center>
          <p class="pt-5"></p>
          {{ form.submit(class_="btn btn-md btn-danger") }}
          <p class="pb-2"></p>
		    </center>
	    </div>
	  </div>
  </form>
</div>

{{ qrModal([['mym', 'Tickets template', url_for('static', filename='images/manage_map.jpg')]]) }}
{% endblock %}
