<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle  }} {% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='css/gfonts.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/webfont.select.css') }}" rel="stylesheet">
<style>
#hbfont {
  display: none;
}
</style>
{{ datepicker.loader() }}
{{ colorpicker.loader() }}
{{ colorpicker.picker(id='.spa', allowEmpty='false') }}
{{ colorpicker.picker(id='.sp', showAlpha='false', allowEmpty='false') }}
<script src="{{ url_for('static', filename='webfont.js')}}"></script>
<script src="{{ url_for('static', filename='webfont.select.js') }}"></script>
<script src="{{ url_for('static', filename='extFunctions.js') }}"></script>
<script type="text/javascript">
$(document).ready( function() {
  // TODO: Replace this mess with uniqueness
  {% if slist and not form.errors %}something("{{ slist[0] }}","{{ slist[2] }}","{{ slist[1] }}");{% endif %}
  {% if form.errors %} something('#dropdown-lvl1','#ts4','.da2'); {% endif %}
  // Change img src when select field changes from extFunction.js
    watchIt(
      '#touch',
      '.tobc',
      {% if ar %}
      ["{{ url_for('static', filename='images/map_ar.jpg') }}",
      "{{ url_for('static', filename='images/map3_ar.jpg') }}",
      "{{ url_for('static', filename='images/map4_ar.jpg') }}"],
      {% else %}
      ["{{ url_for('static', filename='images/map.jpg') }}",
      "{{ url_for('static', filename='images/map3.jpg') }}",
      "{{ url_for('static', filename='images/map4.jpg') }}"]
      {% endif %}
    )
  // TODO: Replace with flask fontpicker
     $('#hfont').wfselect({
     fonts: {
       google: {
         families: ['Aref Ruqaa', 'Cairo', 'Amiri', 'Changa', 'El Messiri', 'Harmattan', 'Jomhuria', 'Katibeh', 'Lalezar', 'Lateef', 'Lemonada', 'Mada', 'Mirza', 'Rakkas', 'Reem Kufi', 'Scheherazade'],
         url_generation: {base_url: "{{ url_for('static', filename='css/gfonts.css') }}", space_char: '+'}
       }
     },
     load_all_fonts: true,
     default_font_name: {type: 'google', name: String($('#hfont').val())}
    }).on('wfselectchange', function (event, fontInfo){
      var af = $('#hfont').css('font-family');
      $('#hbfont').val(String(af));
    });
    $('#tfont').wfselect({
    fonts: {
      google: {
        families: ['Aref Ruqaa', 'Cairo', 'Amiri', 'Changa', 'El Messiri', 'Harmattan', 'Jomhuria', 'Katibeh', 'Lalezar', 'Lateef', 'Lemonada', 'Mada', 'Mirza', 'Rakkas', 'Reem Kufi', 'Scheherazade'],
        url_generation: {base_url: "{{ url_for('static', filename='css/gfonts.css') }}", space_char: '+'}
      }
    },
    load_all_fonts: true,
     default_font_name: {type: 'google', name: String($('#tfont').val())}
    }).on('wfselectchange', function (event, fontInfo){
     var bf = $('#tfont').css('font-family');
     $('#tbfont').val(String(bf));
    });
     $('#mfont').wfselect({
     fonts: {
       google: {
         families: ['Aref Ruqaa', 'Cairo', 'Amiri', 'Changa', 'El Messiri', 'Harmattan', 'Jomhuria', 'Katibeh', 'Lalezar', 'Lateef', 'Lemonada', 'Mada', 'Mirza', 'Rakkas', 'Reem Kufi', 'Scheherazade'],
         url_generation: {base_url: "{{ url_for('static', filename='css/gfonts.css') }}", space_char: '+'}
       }
     },
     load_all_fonts: true,
      default_font_name: {type: 'google', name: String($('#mfont').val())}
    }).on('wfselectchange', function (event, fontInfo){
      var cf = $('#mfont').css('font-family');
      $('#mbfont').val(String(cf));
    });
    $('#hbfont').val(String($('#hfont').css('font-family')));
    $('#tbfont').val(String($('#tfont').css('font-family')));
    $('#mbfont').val(String($('#mfont').css('font-family')));
});
</script>
{% endblock %}


{%- from "sb_touch.html" import sb_touch with context %}
{% block sidebar %}
{{ sb_touch() }}
{% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field %}
<div class="col-md-12">
    <div class="panel panel-default" id="waiting">
	<div class="panel-body">
	    <div class="well">
		{{ brp*8 }}
		<center><i class="fa fa-5x fa-refresh fa-spin text-danger"></i></center>
		<br/>
    {% if ar %}
		<h3 class="text-danger text-center ar1"> الرجاء الإنتظار لدقيقة , يتم اللآن التحميل</h3>
    {% else %}
		<h3 class="text-danger text-center">Wait a minute please, loading ..</h3>
    {% endif %}
		{{ brp*8 }}
	    </div>
	</div>
    </div>
    <form id="fm" method="POST" enctype="multipart/form-data">
      <!-- Changed first side-bar element id to 0 to fix some strange bug after adding font picker ..
        you'll never know where they come from .. lol -->
        <div class="panel panel-default hide" id="p0">
            <div class="panel-heading text-center">
          <h3 class="text-muted">
            {% if ar %}
            <strong class="ar1"><span class="fa fa-desktop"></span>  شاشة اللمس -
              <span class="fa fa-windows"></span>  القالب</strong></h3>
            {% else %}
            <strong><span class="fa fa-desktop"></span>  Touch Screen - <span class="fa fa-windows">
            </span>  Template</strong></h3>
            {% endif %}
            </div>
            <br>
            <div class="panel-body">
              {{ brp * 3 }}
          <div class="col-xs-12">
              <center>
            <a data-toggle="modal" data-target="#mym">
                <img class="img-responsive img-thumbnail tobc" id="map" width="40%"
                {% if ar %}
                src="{{ url_for('static', filename='images/map.jpg') }}"
                {% else %}
                src="{{ url_for('static', filename='images/map.jpg') }}"
                {% endif %}
                >
            </a>
            {% if ar %}
            <p class="h3 text-muted ar2">
              | تنبيه : الصورة الممثلة للقالب المختار يتم عرضها تلقائياً مع إختياره |
  		      </p>
            {% else %}
  		      <p class="h3 text-muted">
  		        | The picture of the template is automaticly changed to the one selected |
  		      </p>
            {% endif %}
              </center>
          </div>
            </div>
            <br><hr><br>
          {{ form.csrf_token }}
          {{ render_field(form.touch, class="form-control") }}
          {{ brp * 2 }}
          {% if ar %}
          <h4 class="text-center text-danger ar2">
            | تنبيه : شاشة اللمس صممت مع خاصية قابلية العرض في شاشات بمتعددة الأحجام |
          </h4>
          {% else %}
          <h4 class="text-center text-danger">
            | Reminder: Touch screen meant to be displayed on different sized monitors so it supports it |
          </h4>
          {% endif %}
          {{ brp * 5 }}
          <center>
            {% if ar %}
            <button type="button" href="#" class="btn btn-warning btn-md disabled ar1">تراجع</button>
            <button type="button" onclick="something('#dropdown-lvl1','#ts2','.da2');" class="btn btn-primary btn-md ar1">تقدم</button>
            {% else %}
              <button type="button" href="#" class="btn btn-warning btn-md disabled">Previous</button>
              <button type="button" onclick="something('#dropdown-lvl1','#ts2','.da2');" class="btn btn-primary btn-md">Next</button>
            {% endif %}
          </center>
          {{ brp * 3 }}
            </div>
        </div>
	<div class="panel panel-default hide" id="p2">
	    <div class="panel-heading text-center">
		<h3 class="text-muted">
      {% if ar %}
      <strong class="ar1"><span class="fa fa-desktop"></span>  شاشة اللمس - <span class="fa fa-text-width"></span>  العنوان</strong></h3>
      {% else %}
      <strong><span class="fa fa-desktop"></span>  Touch Screen - <span class="fa fa-text-width"></span>  Title</strong></h3>
      {% endif %}
	    </div>
	    <br>
	    <div class="panel-body">
        {{ brp * 3 }}
		<div class="col-xs-12">
		    <center>
			<a data-toggle="modal" data-target="#mym">
			    <img class="img-responsive img-thumbnail" id="map" width="40%"
          {% if ar %}
          src="{{ url_for('static', filename='images/map_title_ar.jpg') }}"
          {% else %}
          src="{{ url_for('static', filename='images/map_title.jpg') }}"
          {% endif %}
          >
			</a>
      {% if ar %}
      <h3 class="text text-muted text-center ar2">
          | الحقل النصي الرئيسي الذي يتيح المستخدم إرشاد العميل إلى إختيار مهمة أو الإشارة إلى شيئ
           معين |
			</h3>
      {% else %}
			<h3 class="text text-muted text-center">
			    | Main text box that, can be used to showcase the componay brand or instruct the user to choose a task from the listed below title |
			</h3>
      {% endif %}
		    </center>
		</div>
	    </div>
	    <br><hr><br>
		{{ render_field(form.title, class="form-control") }}<br/>
		{{ render_field(form.hsize, class="form-control") }}<br/>
		{{ render_field(form.hcolor, class="sp") }}<br/>
		{{ render_field(form.hbg, class="spa") }}<br/>
  	{{ render_field(form.hfont, class="form-control") }}<br/>
    {{ render_field(form.hbfont) }}
		{{ brp * 5 }}
		<center>
      {% if ar %}
      <button type="button" onclick="something('#dropdown-lvl1','#ts0','.da2');" class="btn btn-warning btn-md disabled ar1">تراجع</button>
      <button type="button" onclick="something('#dropdown-lvl1','#ts3','.da2');" class="btn btn-primary btn-md ar1">تقدم</button>
      {% else %}
		    <button type="button" onclick="something('#dropdown-lvl1','#ts0','.da2');" class="btn btn-warning btn-md disabled">Previous</button>
		    <button type="button" onclick="something('#dropdown-lvl1','#ts3','.da2');" class="btn btn-primary btn-md">Next</button>
      {% endif %}
		</center>
    {{ brp * 3 }}
	</div>
	<div class="panel panel-default hide" id="p3">
	    <div class="panel-heading text-center">
  		<h3 class="text-muted">
        {% if ar %}
        <strong class="ar1"><span class="fa fa-desktop"></span>  شاشة اللمس -
          <span class="fa fa-text-tasks"></span>
          المهمات
        </strong></h3>
        {% else %}
        <strong><span class="fa fa-desktop"></span>  Touch Screen -
          <span class="fa fa-tasks"></span>  Tasks</strong></h3>
        {% endif %}
      </h3>
	    </div>
	    <div class="panel-body">
        {{ brp * 3 }}
		<center>
		    <a data-toggle="modal" data-target="#mym">
			<img class="img-responsive img-thumbnail" id="map" width="35%"
      {% if ar %}
      src="{{ url_for('static', filename='images/map_task_ar.jpg') }}"
      {% else %}
      src="{{ url_for('static', filename='images/map_task.jpg') }}"
      {% endif %}
      >
		    </a>
		    <br>
        {% if ar %}
        <h3 class="text text-muted text-center ar2">
          | المهمات التي يتاح للمستخدم الإختيار منها ليتم إضافة تذكرة خاصة به |
		    </h3>
        {% else %}
		    <h3 class="text text-muted text-center">
			| Tasks are the options that a the customer can select from and his unique ticket will be generated by |
		    </h3>
        {% endif %}
		</center>
	    </div>
	    <br><hr><br>

	    {{ render_field(form.tsize, class="form-control") }}<br/>
	    {{ render_field(form.tcolor, class="form-control") }}<br/>
      {{ render_field(form.tfont, class="form-control") }}<br/>
      {{ render_field(form.tbfont) }}
		  {{ brp * 5 }}
	    <center>
    {% if ar %}
    <button type="button" onclick="something('#dropdown-lvl1','#ts2','.da2');" class="btn btn-warning btn-md ar1">تراجع</button>
		<button type="button" onclick="something('#dropdown-lvl1','#ts4','.da2');" class="btn btn-primary btn-md ar1">تقدم</button>
    {% else %}
		<button type="button" onclick="something('#dropdown-lvl1','#ts2','.da2');" class="btn btn-warning btn-md">Previous</button>
		<button type="button" onclick="something('#dropdown-lvl1','#ts4','.da2');" class="btn btn-primary btn-md">Next</button>
    {% endif %}
	    </center>
      {{ brp * 3 }}
	</div>
	<div class="panel panel-default hide" id="p4">
	    <div class="panel-heading text-center">
    	<h3 class="text-muted">
        {% if ar %}
        <strong class="ar1"><span class="fa fa-desktop"></span>
            شاشة اللمس -
            <span class="fa fa-flag"></span>
              التنبيهات
            </strong></h3>
        {% else %}
        <strong><span class="fa fa-desktop"></span>
            Touch Screen - <span class="fa fa-flag"></span>  Notification</strong></h3>
        {% endif %}
      </h3>
	    </div>
	    <div class="panel-body">
        <br /><br />
		<center>
		    <a data-toggle="modal" data-target="#mym">
			<img class="img-resoinsive img-thumbnail" id="map" width="40%"
      {% if ar %}
      src="{{ url_for('static', filename='images/map_message_ar.jpg') }}"
      {% else %}
      src="{{ url_for('static', filename='images/map_message.jpg') }}"
      {% endif %}
      >
		    </a>
        {% if ar %}
		    <h3 class="text text-muted text-center ar2">
          | حقل نصي لإعلام العميل أن المهمة المختارة تم تسجيلها و أن التذكرة تم تحريرها |
        </h3>
        {% else %}
		    <h3 class="text text-muted text-center">| Text box that will appear to inform the customer that his selection is made and ticket's been generated |</h3>
        {% endif %}
		</center>
		<br><hr><br>
		{{ render_field(form.message, class="form-control") }}<br/>
		{{ render_field(form.mduration, class="form-control") }}<br/>
		{{ render_field(form.msize, class="form-control") }}<br/>
		{{ render_field(form.mcolor, class="sp") }}<br/>
		{{ render_field(form.mbg, class="spa") }}<br/>
  	{{ render_field(form.mfont) }}<br/>
  	{{ render_field(form.mbfont) }}
		<br><br><hr><br>
		<center>
		    <a data-toggle="modal" data-target="#mym">
			<span class="img-responsive img-thumbnail fa fa-5x fa-bell" id="map"></span>
		    </a>
        {% if ar %}
		    <h3 class="text text-muted text-center ar2">
		      | إشعار صوتي تشغيله عندما يقوم العميل بإختيار المهمة المحددة |
		    </h3>
        {% else %}
		    <h3 class="text text-muted text-center">| A sound tune that will be played whenever the customer select a task of his choice |</h3>
        {% endif %}
		</center>
		<br>
		<center>{{ render_field(form.naudio, class="btn btn-primary btn-md form-control") }}</center>
		<br><br><br>
		<center>
      {% if ar %}
      <button type="button" onclick="something('#dropdown-lvl1','#ts3','.da2');" class="btn btn-warning btn-md ar1">تراجع</button>
      <button type="button" onclick="something('#dropdown-lvl1','#ts5','.da2');" class="btn btn-primary btn-md ar1">تقدم</button>
      {% else %}
		    <button type="button" onclick="something('#dropdown-lvl1','#ts3','.da2');" class="btn btn-warning btn-md">Previous</button>
		    <button type="button" onclick="something('#dropdown-lvl1','#ts5','.da2');" class="btn btn-primary btn-md">Next</button>
      {% endif %}
		</center>
	    </div>
	</div>
	<div class="panel panel-default hide" id="p5">
	    <div class="panel-heading text-center">
  		<h3 class="text-muted">
        {% if ar %}
        <strong class="ar1"><span class="fa fa-desktop"></span>
            شاشة اللمس - <span class="fa fa-picture-o"></span>
              الخلفية
            </strong></h3>
        {% else %}
        <strong><span class="fa fa-desktop"></span>
            Touch Screen - <span class="fa fa-picture-o"></span>  Background</strong></h3>
        {% endif %}
      </h3>
	    </div>
	    <div class="panel-body">
        {{ brp * 3 }}
		<center>
		    <a data-toggle="modal" data-target="#mym">
			<img class="img-responsive img-thumbnail" id="map" width="30%"
      src="{{ url_for('static', filename='images/map_background.jpg') }}"
      >
		</a>
    {% if ar  %}
		<h3 class="text text-muted text-center ar2"> | الخلفية التي يتم عليها عرض كل الحقول النصية التابعة لشاشة اللمس | </h3>
    {% else %}
		<h3 class="text text-muted text-center">| The background image on-which all elements of the Touch Screen will be displayed on . You can choose between a limited varity of default images or to select a specific color and lastly you can as well chose to upload your own special background image | </h3>
    {% endif %}
		<br><hr>
		<br>
		<center>
		    {{ render_field(form.background, class="btn btn-md btn-primary form-control") }}
		</center>
		<br><br>
		<center>
		    {{ form.bcolor(class_="sp") }}
		</center>
    {{ brp * 4 }}
		{% if form.errors %}
		<div class="well">
		    <h3 class="text-center text-warning">- Errors :</h4>
		    <ol class="text-center h4 text-danger">
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
			{% for error in field_errors %}
			<li>{{ form[field_name].name }}: {{ error }}</li>
			{% endfor %}
			{% endfor %}
		    </ol>
		    {% endif %}
		</div>
		    <center>

      {% if ar %}
      <button type="button" onclick="something('#dropdown-lvl1','#ts4','.da2');" class="btn btn-warning btn-md ar1">تراجع</button>
			{{ form.submit(class_="btn btn-md btn-danger ar1", type="submit") }}
      {% else %}
      <button type="button" onclick="something('#dropdown-lvl1','#ts4','.da2');" class="btn btn-warning btn-md">Previous</button>
			{{ form.submit(class_="btn btn-md btn-danger", type="submit") }}
      {% endif %}
		    </center>
        {{ brp * 3 }}
	    </div>
	</div>
    </form>
</div>
<br>
<div class="modal fade" id="mym">
    <div class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
    {% if ar %}
		<h4 class="modal-title ar1">خارطة شاشة اللمس</h4>
    {% else %}
		<h4 class="modal-title">Template Map</h4>
    {% endif %}
	    </div>
	    <div class="modal-body">
		<center><img class="img-responsive img-thumbnail tobc"
      {% if ar %}
      src="{{ url_for('static', filename='images/map_ar.jpg') }}"
      {% else %}
      src="{{ url_for('static', filename='images/map.jpg') }}"
      {% endif %}
      alt="Map image"></center>
	    </div>
	    <div class="modal-footer">
    {% if ar %}
		<button type="button" class="close ar1" data-dismiss="modal">إلغاء</button>
    {% else %}
		<button type="button" class="close" data-dismiss="modal">Close</button>
    {% endif %}
	    </div>
	</div>
    </div>
</div>
{% endblock %}
