<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base_s.html" %}
{% block title %} FQM - {{ page_title }} {% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='extFunctions.js') }}" type='text/javascript'></script>
<script type="text/javascript">
window.onload = function() {
{% if d %}
  {% if ts.audio != "false" %} document.getElementById("audio_1").play() {% endif %}
  ['#msgs', '#msgl'].forEach(function (item) {
    $(item).removeClass('hide')
    setTimeout(function () { $(item).fadeOut({{ ts.mduration }}/2) }, {{ ts.mduration }})
  })
{% endif %}
{% if a != 4 %}
// implementing pure js autoreload if customized or managed
reloadIf('/touch/0')
{% endif %}
}
</script>
{% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field with context %}
{% from "_footers.html" import touchFooter %}
<style>
 body {
  {% if ts.bgcolor[:3] == "rgb" %}
  background-color: {{ ts.bgcolor }};
  {% else %}
  background-image: url({{ url_for('static', filename='multimedia/'+ts.bgcolor) }});
  {% endif %}
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }
 .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
 }
 .title {
  color: {{ ts.hcolor }}; 
  background: {{ ts.hbg }};
  font-size: {{ ts.hsize }};
  font-family: '{{ ts.hfont }}';
  margin-top: 1%;
  margin-bottom: 1%;
 }
 .titles {
  color: {{ ts.hcolor }}; 
  background: {{ ts.hbg }};
  font-family: '{{ ts.hfont }}';
  margin-top: 1%;
  margin-bottom: 1%; 
 }
 .message {
  color: {{ ts.mcolor }}; 
  background: {{ ts.hbg }};
  font-family: '{{ ts.mfont }}';
  font-size: {{ ts.msize }};
  margin-bottom: 1%; 
 }
 .messages {
  color: {{ ts.mcolor }}; 
  background: {{ ts.hbg }};
  font-family: '{{ ts.mfont }}'; 
  margin-bottom: 1%; 
 }
</style>
{% if a == 4 %}
  <div class="row vertical-center">
      <div class="col-xs-12 well">
  	    <form method="POST" enctype="multipart/form-data" id="fm">
  	      {{ form.csrf_token }}
          {% if tnumber %}
              <p class="h2 ar1 text-center mt-2 text-danger">
               | {{ translate('Please, enter the ' + alias.number + ' to be registered along with your ticket', 'en', [defLang]) }} |
              </p>
          {% else %}
  	          <p class="h2 ar1 text-center mt-2 text-danger">
  		         | {{ translate('Please, enter the ' + alias.name + ' to be registered along with your ticket', 'en', [defLang]) }} |
  	          </p>
          {% endif %}
  	    {{ render_field(form.name, class="form-control mt-1 mb-2") }}
  	    <center>
          <button class="btn btn-lg btn-danger ar1" type="submit">{{ translate('Register', 'en', [defLang]) }}</button>
        </center>
  	  </form>
    </div>
  </div>
{% elif a == 0 %} <!-- If regular templates is used -->
  <div class="row mb-1">
      <div class="col-md-12 hidden-sm hidden-xs text-center">
  	    <h1 class='title'> {{ ts.title }} </h1>
      </div>
      <div class="col-xs-12 hidden-md hidden-lg hidden-xl text-center">
        <h1 class='titles'> {{ ts.title }} </h1>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 hidden-sm hidden-xs text-center">
  	    <h1 id="msgl" class="hide message">{{ ts.message }}</h1>
      </div>
      <div class="col-xs-12 hidden-md hidden-lg hidden-xl text-center">
  	    <h1 id="msgs" class="hide messages">{{ ts.message }}</h1>
      </div>
  </div>
  {% if not tasks %}
  {{ touchFooter(translate('no tasks created yet', 'en', [defLang])) }}
  {% else %}
  {% for t in tasks %}
  <div class="row">
      <div class="col-md-12 hidden-sm hidden-xs text-center text-center">
  	    <a class="btn btn-lg mt-2 mb-2 {{ ts.tcolor }}" href="{{ url_for('core.serial', t_id=t.id, office_id=office_id) }}" style="font-size: {{ ts.tsize }}; font-family: '{{ ts.tfont }}';">
  	      {{ t.name }}
  	    </a>
      </div>
      <div class="col-xs-12 hidden-md hidden-lg hidden-xl text-center">
  	    <a class="btn btn-lg mt-1 mb-1 {{ ts.tcolor }}" href="{{ url_for('core.serial', t_id=t.id, office_id=office_id) }}" style="font-family: '{{ ts.tfont }}';">
  	      {{ t.name }}
  	    </a>
      </div>
  </div>
  {% endfor %}
  {% endif %}
{% elif a == 1 %} <!-- if second template is used -->
    <div class="row mb-1">
        <div class="col-md-12 hidden-sm hidden-xs text-center text-center">
    	    <h1 class='title'> {{ ts.title }} </h1>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg hidden-xl text-center text-center">
          <h1 class='titles'> {{ ts.title }} </h1>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12 hidden-md hidden-lg hidden-xl text-center">
        <h1 id="msgs" class="hide message">{{ ts.message }}</h1>
      </div>
      <div class="col-md-12 hidden-sm hidden-xs text-center">
    	  <h1 id="msgl" class="hide messages">{{ ts.message }}</h1>
      </div>
    </div>
    {% if not tasks %}
    {{ touchFooter(translate('no tasks created yet', 'en', [defLang])) }}
    {% else %}
    <div class="row">
      {% for t in tasks %}
      <div class="col-xs-12 hidden-md hidden-lg hidden-xl text-center">
        <a class="btn btn-lg mt-1 mb-1 {{ ts.tcolor }}" href="{{ url_for('core.serial', t_id=t.id, office_id=office_id) }}" style="font-family: '{{ ts.tfont }}';">
          {{ t.name }}
        </a>
      </div>
      <div class="col-md-6 hidden-xs hidden-sm text-center">
      	<a class="btn btn-lg mt-2 mb-2 {{ ts.tcolor }}" href="{{ url_for('core.serial', t_id=t.id, office_id=office_id) }}" style="font-size: {{ ts.tsize }}; font-family: '{{ ts.tfont }}';">
      	    {{ t.name }}
      	</a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
{% elif a == 2 %} <!-- If theird template is used -->
  <div class="row text-center vertical-center">
    <div class="col-xs-6">
        <div class="col-xs-12 hidden-md hidden-lg hidden-xl">
  	      <h1 class='titles'> {{ ts.title }} </h1>
        </div>
        <div class="col-md-12 hidden-xs hidden-sm">
          <h1 class='title'> {{ ts.title }} </h1>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg hidden-xl">
          <h1 id="msgs" class="hide messages">{{ ts.message }}</h1>
        </div>
        <div class="col-md-12 hidden-xs hidden-sm">
          <h1 id="msgl" class="hide message">{{ ts.message }}</h1>
        </div>
    </div>
  {% if tasks != 0 %}
      <div class="col-xs-6">
  {% for t in tasks %}
        <div class="col-md-12 hidden-xs hidden-sm">
  	      <a class="btn btn-lg mt-1 mb-2 {{ ts.tcolor }}" href="{{ url_for('core.serial', t_id=t.id, office_id=office_id) }}" style="font-size: {{ ts.tsize }}; font-family: '{{ ts.tfont }}';">
            {{ t.name }}
  	      </a>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg hidden-xl">
          <a class="btn btn-lg mt-1 mb-1 {{ ts.tcolor }}" href="{{ url_for('core.serial', t_id=t.id, office_id=office_id) }}" style="font-family: '{{ ts.tfont }}';">
            {{ t.name }}
          </a>
        </div>
  {% endfor %}
      </div>
  </div>
  {% else %}
  {{ touchFooter(translate('no tasks created yet', 'en', [defLang])) }}
  {% endif %}
{% endif %} <!-- end of displaying different templates conditions -->

{% if ts.audio != "false" %}
<audio id="audio_1" src="{{ url_for('static', filename='multimedia/'+ts.audio) }}"></audio>
{% endif %} <!--  End of condition for displaying form  -->
{% endblock %}
