<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ ptitle  }} {% endblock %}
{% import "_macros.html" as macros %}


{% block page_content %}
{% from "_helpers.html" import render_field %}
{% from "_modals.html" import confirmModal %}
{% from "_footers.html" import spacer, panelFooter %}
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
	    	<h3 class="text text-center">
        		<strong>{{ translate('Users list', 'en', [defLang]) }}</strong>
      		</h3>
	    	<div class="row">
				<div class="col-md-12 text-center">
		    		<div class="btn-group-justified">
          				<a href="{{ url_for('administrate.user_a') }}" class="btn btn-primary ">
    			    		<span class="fa fa-plus"></span>
    						<strong> {{ translate('Add user', 'en', [defLang]) }} </strong>
    					</a>
			    		<a data-toggle="modal" data-target="#dall" class="btn btn-danger ">
			      			<span class="fa fa-trash"></span>
			      			<strong> {{ translate('Delete all', 'en', [defLang]) }} </strong>
			    		</a>
		    		</div>
				</div>
	    	</div>
		</div>
        <div class="panel-body">
	    	<div class="row text-center h3 text-muted hidden-xs ar2">
				<div class="col-sm-3">
				    ({{ translate('ID . Name', 'en', [defLang]) }})
				</div>
				<div class="col-sm-3">
				    ({{ translate('Role', 'en', [defLang]) }})
				</div>
				<div class="col-sm-4">
				    ({{ translate('Last seen', 'en', [defLang]) }})
				</div>
				<div class="col-sm-2">
				    ({{ translate('Actions', 'en', [defLang]) }})
				</div>
	    	</div>
	    	{% if len(usersp) > 0 %}
	    	{% for u in usersp %}
	    	<div class="row well h4 ar1 text-center {% if u.role_id == 1 %} text-danger {% elif u.role_id == 2 %} text-warning {% else %} text-primary {% endif %}">
				<div class="col-xs-12 col-sm-3">
			    	<strong>{{ u.id }}. {{ u.name }}</strong>
				</div>
				<div class="col-xs-12 col-sm-3 {% if ar %} ar1 {% endif %}">
		    		{% if u.role_id == 1 %} <u> Administrator </u>
		    		{% elif u.role_id == 2 %} <u> Monitor </u>
		    		{% else %}
		    		<u>
						Operator
						{% if operators.filter_by(id=u.id).first() is not none %}
						 of : <em>
						{{ offices.filter_by(id=operators.filter_by(id=u.id).first().office_id).first().prefix }}{{ offices.filter_by(id=operators.filter_by(id=u.id).first().office_id).first().name }} </em>
						{% endif %}
		    		</u>
		    		{% endif %}
				</div>
				<div class="col-xs-12 col-sm-4">
				    <u> {{ moment(u.last_seen).fromNow() }} </u>
				</div>
				{% if u.id != 1 %}
				<div class="col-xs-12 col-sm-2 ">
		    		<a href="{{ url_for('administrate.user_u', u_id=u.id) }}"
						data-toggle="tooltip" title="{{ translate('Update', 'en', [defLang]) }}"
					>
          				<span class="fa fa-pencil text-primary"></span>
        			</a>
		    		<a href="#" data-toggle="modal" data-target="#dell{{ u.id }}"
						data-toggle="tooltip" title="{{ translate('Delete', 'en', [defLang]) }}"
					>
        				<span class="fa fa-trash text-warning"></span>
        			</a>
				</div>
				{% endif %}
			</div>
			{{ confirmModal([['dell' + str(u.id), translate('Warning : Delete user', 'en', [defLang]), translate("You are attempting to delete a user which will not be retrievable , Are you sure of that ?", 'en', [defLang]), url_for('administrate.user_d', u_id=u.id)]], yes=translate('Yes', 'en', [defLang]), no=translate('No', 'en', [defLang])) }}
	    	{% endfor %}
			{% endif %}
			{{ spacer([translate('No users exist yet to display', 'en', [defLang]), len(usersp)]) }}
		</div>
        <div class="panel-footer text-center">
			{{ panelFooter([[[translate('Users total', 'en', [defLang]), users.count()], [translate('Administrators', 'en', [defLang]), users.filter_by(role_id=1).count()]], [[translate('Monitors', 'en', [defLang]), users.filter_by(role_id=2).count()], [translate('Operators', 'en', [defLang]), users.filter_by(role_id=3).count()]]], toWarn=translate('Administrators', 'en', [defLang])) }}
	    	<div class="row text-center">
				{{ macros.pagination_widget(pagination, '.users') }}
	    	</div>
        </div>
    </div>
</div>

{{ confirmModal([['dall', translate('Warning : Delete all', 'en', [defLang]), translate("You are attempting to delete all users except Admin. that will not be retrievable, Are you sure of that ?", 'en', [defLang]), url_for('administrate.user_da')]], yes=translate('Yes', 'en', [defLang]), no=translate('No', 'en', [defLang])) }}
{% endblock %}
