<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %} FQM - {{ page_title  }} {% endblock %}

{%- from "sb_cust.html" import sb_cust with context %}
{% block sidebar %}
{{ sb_cust() }}
{% endblock %}

{% block head %}
{{ super() }}
<script>
$(document).ready(function () {
  if ($('#enable option:selected').val() === '1') $('#warn').removeClass('hide')
  $('#enable').change(function (){
    $('#enable option:selected').val() === '1' ? $('#warn').removeClass('hide') : $('#warn').addClass('hide')
  })
})
</script>
{% endblock %}

{% block page_content %}
{% from "_helpers.html" import render_field with context %}
{% from "_modals.html" import qrModal %}
<div class="col-md-12">
    <form method="POST" enctype="multipart/form-data">
	    <div class="panel panel-default" id="p1">
	      <div class="panel-heading text-center">
		      <h3 class="text-muted">
            <strong><span class="fa fa-video-camera"></span>  {{ translate('Display Video settings', 'en', [defLang]) }}   </strong>
          </h3>
	      </div>
	      <div class="panel-body">
		      {{ form.csrf_token }}
          <center>
            <a data-toggle="modal" data-target="#mym">
              <img class="img-responsive mt-2 mb-4 img-thumbnail pic" id="map" width="40%"
                alt="Map image"
                src="{{ url_for('static', filename='images/map2_video.jpg') }}"
              >
            </a>
          </center>
		      {{ render_field(form.enable, class="form-control") }}
		      <p id="warn" class="h3 mt-2 mb-2 text-center hide text-danger ar2">
		          | {{ translate('Notice: To enable slide show you must disable video', 'en', [defLang]) }} |
		      </p>
          {{ render_field(form.video, class="form-control") }}
		      {{ render_field(form.ar, class="form-control") }}
		      {{ render_field(form.controls, class="form-control") }}
          {{ render_field(form.mute, class="form-control") }}
          <p class="pt-5"></p>
		      <center>
              <button class="btn btn-md btn-danger" type="submit">{{ translate("Apply", 'en', [defLang]) }}</button>
		      </center>
          <p class="pb-3"></p>
	    </div>
  	</div>
  </form>
</div>

{{ qrModal([['mym', translate('Video template', 'en', [defLang]), url_for('static', filename='images/map2.jpg')]], close=translate('Exit', 'en', [defLang])) }}
{% endblock %}
